# Ignore data folders
data/
datasets/
raw_data/
processed_data/

# Ignore temporary files
*.tmp
*.log
*.bak

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore environment files
.env
*.env
.venv/
*.egg-info/